<div class="container">

    <h1>{{ title }}</h1>

    <!-- show different providers as tiles with their logo in every tile and user should
  only be able to select one tile just like a radio button -->
    <div class="form-container">
        <form #providerInfoForm="ngForm" (ngSubmit)="onSubmit(providerInfoForm.value)">
            <div class="form-group">

                <h3>Would You Like To:</h3>

                <label class="provider-tile" id="noProvider">
                    <input type="radio" name="nac" [(ngModel)]="newLineTransType" value="nac" required>
                    <img src="assets/phone-logo.png" alt="NAC logo" class="provider-logo">
                </label>

                <div class="or">
                    <h3>OR</h3>
                </div>

                <label class="provider-tile" id="noProvider">
                    <input type="radio" name="byod" [(ngModel)]="newLineTransType" value="byod" required>
                    <img src="assets/plan-logo.png" alt="BYOD logo" class="provider-logo">
                </label>

            </div>
            <button class="prevBtn" (click)="goBack()">&#60; Previous</button>
            <button type="submit" class="nextBtn" (click)="onNext()">Next ></button>
        </form>
    </div>
</div>