<div class="container">
  <h1>{{ title }}</h1>

  <!-- show different providers as tiles with their logo in every tile and user should
only be able to select one tile just like a radio button -->
  <div class="form-container">
    <form #providerInfoForm="ngForm">
      <div class="form-group">

        <h3>Would You Like To:</h3>

        <label class="provider-tile" id="noProvider">
          <input type="radio" name="HUP" [(ngModel)]="providerTransType" value="HUP" required>
          <img src="assets/hup-logo.png" alt="HUP logo" class="provider-logo">
        </label>

        <div class="or">
          <h3>OR</h3>
        </div>

        <label class="provider-tile" id="noProvider">
          <input type="radio" name="AAL" [(ngModel)]="providerTransType" value="AAL" required>
          <img src="assets/aal-logo.png" alt="AAL logo" class="provider-logo">
        </label>

        <div class="or">
          <h3>OR</h3>
        </div>

        <label class="provider-tile" id="noProvider">
          <input type="radio" name="NAC" [(ngModel)]="providerTransType" value="NAC" required>
          <img src="assets/nac-logo.png" alt="NAC logo" class="provider-logo">
        </label>

      </div>
      <button class="prevBtn" (click)="goBack()">&#60; Previous</button>
      <button class="nextBtn" (click)="onSubmit()">Next ></button>
    </form>
  </div>

</div>