<div class="container">
    <div class="details">
        <h1>Login</h1>
  
  
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <text-input
        [control]="fc['username']"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="Username">
        </text-input>

        <text-input
        [control]="fc['password']"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Password">
        </text-input>

        <text-input
        [control]="fc['storeNum']"
        [showErrorsWhen]="isSubmitted"
        type="number"
        label="Store#">
        </text-input>


        <default-button text="Login"></default-button>
        <div class="register">
          New User? &nbsp;
          <a routerLink="/register" [queryParams]="{returnUrl: returnUrl}">
            Register here
          </a>
        </div>
      </form>
    </div>
   </div>
  