<h1>{{ title }}</h1>
<!-- ask user how many lines they want to get or upgrade, get number input greater than 0-->
<div class="form-container">
  <form #newLinesQtyForm="ngForm" (ngSubmit)="onSubmit(newLinesQtyForm)" novalidate>
    <div class="form-group">
      <label for="newLinesQty">How many new lines would you like to get or upgrade today?</label>
      <input
        type="number"
        class="form-control"
        id="newLinesQty"
        name="newLinesQty"
        required
        [(ngModel)]="numLines"
        #newLinesQtyInput="ngModel"
        min="1"
      >
      <div *ngIf="newLinesQtyInput.invalid && (newLinesQtyInput.dirty || newLinesQtyInput.touched)" class="text-danger">
        *Quantity is required and must be greater than or equal to 1.
      </div>
    </div>
    <button class="prevBtn" (click)="goBack()">&#60; Previous</button>
    <button type="submit" class="nextBtn" [disabled]="newLinesQtyForm.invalid">Next ></button>
  </form>
</div>
