<h1>{{title}}</h1>
<!-- get name and phone number from user -->
<form #custInfoForm="ngForm" (ngSubmit)="onSubmit(custInfoForm)" novalidate>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="name" #nameInput="ngModel">
    <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="text-danger">
      *Name is required.
    </div>
  </div>
  <div class="form-group">
    <label for="phone">Phone Number:</label>
    <input type="text" class="form-control" id="phone" name="phone" required [(ngModel)]="phone" #phoneInput="ngModel" pattern="[0-9]{10}">
    <div *ngIf="phoneInput.invalid && (phoneInput.dirty || phoneInput.touched)" class="text-danger">
      *Phone number is required and must be 10 digits.
    </div>
  </div>
  <button type="submit" class="nextBtn">Next ></button>
</form>
