<div class="phone-selection">

  <h1>{{ title }}</h1>

  <form #phoneSelectionForm="ngForm" (ngSubmit)="onNext()">
    <label class="lbl" for="phoneSelection">Which phone are you interested in?</label>
    <div class="selection">
      <select id="phoneSelection" [(ngModel)]="selectedPhone" name="phoneSelection" (change)="onSelectionChange()"
        required>
        <option value="" disabled>Select an option</option>
        <option value="not-sure">Not Sure</option>
        <optgroup label="Apple Phones">
          <option *ngFor="let iosDevice of iosDevices" [value]="iosDevice">{{ iosDevice }}</option>
        </optgroup>
        <optgroup label="Android Phones">
          <option *ngFor="let androidDevice of androidDevices" [value]="androidDevice">{{ androidDevice }}</option>
        </optgroup>
      </select>
      <div *ngIf="selectedPhone === '' && (phoneSelectionForm.form.dirty || phoneSelectionForm.form.touched)"
        class="text-danger">
        *Please select a phone.
      </div>
    </div>

    <button class="prevBtn" (click)="onGoBack()">&#60; Previous</button>
    <button type="submit" class="nextBtn" [disabled]="phoneSelectionForm.form.invalid">Next ></button>
  </form>

</div>
